doctype html
html
	head
		title= iDra
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/materialize.css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body
		.navbar-fixed
			nav
				.nav-wrapper
					a.brand-logo(id='logo-container' href='/') &nbsp; Logo
		
		footer.page-footer
			.container
				.row.footer
					.col.16.s12
						h5.white-text iDra
						p.white-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut esse praesentium dolores totam nulla aliquid placeat, iusto repudiandae, tempora rerum fugiat error vel. Expedita ipsum magni unde. Repellat, id eos!
			script(src='https://code.jquery.com/jquery-2.1.1.min.js')
			script(src='https://fb.me/react-0.14.2.min.js')
			script(src='https://fb.me/react-dom-0.14.2.min.js')
			script(src='/javascript/materialize.js')
			script(src='/javascript/init.js')