doctype html
html
	head
		title= iDra
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/materialize.css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body
		.navbar-fixed
			nav
				.nav-wrapper
					a.brand-logo(id='logo-container' href='/') &nbsp; Logo
		.parallax-container
			.section.no-pad-bot
				.container
					br
					br
					h1.header.center.grey-text.text-lighten-2 Hidroponia
					.row.center
						h5.heder.col.s12-light.grey-text.text-lighten-2 A modern responsive front-end framework based on Material Design
					.row.center
						a.btn-large.waves-effect.waves-light.teal.lighten-1(href='/Stadistics') Get Started
					br
					br
					br
			.parallax
				img.responsive-img(src='images/image1.jpg' alt='Unsplashed background img 1' style='display: block;')
		.container
			.section
				.row
					h3
						i.mdi-content-send.brown-text
					h4 Contact Us
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
		.parallax-container.valign-wrapper
			.section.no-pad-bot
				.container
					br
					br
					h1.header.center.grey-text.text-lighten-2 Hidroponia
					.row.center
						h5.heder.col.s12-light.grey-text.text-lighten-2 A modern responsive front-end framework based on Material Design
					.row.center
						a.btn-large.waves-effect.waves-light.teal.lighten-1(href='#') Get Started
					br
					br
			.parallax
				img.responsive-img(src='images/image2.jpg' alt='Unsplashed background img 1' style='display: block;')
		.container
			.section
				.row.center
					.col.s4
						h3 Algo
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, iste commodi odio, dolore explicabo similique laboriosam, mollitia molestias ipsa voluptatum quibusdam recusandae rem tempore modi provident. Architecto ea placeat nihil?
					.col.s4
						h3 Algo
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, iste commodi odio, dolore explicabo similique laboriosam, mollitia molestias ipsa voluptatum quibusdam recusandae rem tempore modi provident. Architecto ea placeat nihil?
					.col.s4
						h3 Algo
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, iste commodi odio, dolore explicabo similique laboriosam, mollitia molestias ipsa voluptatum quibusdam recusandae rem tempore modi provident. Architecto ea placeat nihil?
		footer.page-footer
			.container
				.row.footer
					.col.16.s12
						h5.white-text iDra
						p.white-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut esse praesentium dolores totam nulla aliquid placeat, iusto repudiandae, tempora rerum fugiat error vel. Expedita ipsum magni unde. Repellat, id eos!
			script(src='https://code.jquery.com/jquery-2.1.1.min.js')
			script(src='/javascript/materialize.js')
			script(src='/javascript/init.js')