extends index

block head
  .row
    .container.center
      h1 Inicia Sesión
        .container.deep-orange.darken-3.forms
          .registro
            form(method="post", action="/api/user")
        
              input(type="text",name="username",placeholder="Username")
              br
         
              input(type="password",name="password",placeholder="Contraseña")
              br
              input.btn-large.waves-effect.waves-light(type="submit", class="submit")
              br
              br
              a(href="/signup",class="lin") Registrate
  footer
    block javascripts