body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.stats{
	background: #EEEEEE;
}

a {
  color: #00B7FF;
}
.footer{
	margin-bottom: 0px;
}

.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.meter > span:after, .animate > span > span {
  animation: move 2s linear infinite;
}
.orange > span {
  background-color: #D84315;
  background-image: linear-gradient(to bottom, #D84315, #D84315);
}
.information1{
	border-top: 10px solid #E65100;
	background-color: #FFFFFF;
	margin-top: 30px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.information2{
	border-top: 10px solid #E65100;
	background-color: #FFFFFF;
	margin-top: 50px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.information3{
	border-top: 10px solid #E65100;
	background-color: #FFFFFF;
	margin-top: 30px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.information4{
	border-top: 10px solid #E65100;
	background-color: #FFFFFF;
	margin-top: 100px;
	padding-bottom: 5px;
	padding-left: 10px;
	position: relative;
	bottom: 10px;
}
.sell-button{
	padding-top: 50px;
	padding-left: 30px;
}
.badge{
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;

}
.plant{
	height: 500px;
	width: 250px;
}
.chile{
	height: 200px;
	width: 200px;
}
.chileGrande{
	height: 960px;
	width: 960px;
}

.plant-image{
	margin: auto;
	text-align: center;
}
.progress-text{
	text-align: center;
}
.fa{
	margin-left: 10px;
}
.forms{
	padding: 20px;
}
.mdi-action-input{
	padding-left: 10px;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 800px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 5px;
	background: #EEEEEE;
}
.transparent{
	background: transparent;
}
.modalDialogChile {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialogChile:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialogChile > div.chile {
	width: 800px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 5px;
	background: transparent;
}
.close {
	background: #d84315 ;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: rgb(90, 204, 0); }
.modal1{
	border-bottom: 2px solid #d84315;
}